
/venv
.env
/weather_server/venv
/server/weather_server/venv
/mainframe/__pycache__
/mainframe/protos/__pycache__
/server/Hotel_server/__pycache__
/server/lat_long_API_server/__pycache__
/server/lat_long_API_server/venv
/server/restaurant_server/protos/__pycache__
/server/restaurant_server/__pycache__
/server/weather_server/__pycache__
/server/Hotel_server/protos/__pycache__
/server/restaurant_server/protos/__pycache__
/server/weather_api_server/venv
/server/restaurant_server/protos/__pycache__
/Bon_voyage/.next
/Bon_voyage/node_modules
Bon_voyage/.env.local
/server/Hotel_server/protos/__pycache__
/server/weather_api_server/__pycache__
